@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&family=Anton&family=Oswald:wght@200..700&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-family: 'Sansita Swashed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}

.header {
  background-color: #31666a;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -1px -1.5px #424848;
}

.marker {
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  /* transform: rotate(315deg); */
  box-shadow: 1px 1px #424848;
  background-size: cover;
  /* opacity: 0.5; */
  cursor: pointer;
}

.marker-bar { 
  background-color: #101820; 
  background-image: url('/public/icons/bar.png');
}
.marker-park { 
  background-color: #97BC62;
  background-image: url('/public/icons/park.png');
}
.marker-restaurant { 
  background-color: #E7E8D1;
  background-image: url('/public/icons/restaurant.png');
}
.marker-activity { 
  background-color: #CC313D; 
  background-image: url('/public/icons/activity.png');
}
.marker-coffeeshop { 
  background-color: #FFF2D7;
  background-image: url('/public/icons/coffee.png');
}
.marker-breakfast { 
  background-color: #FF7F3E; 
  background-image: url('/public/icons/breakfast.png');
}
.marker-store { 
  background-color: #41C9E2;
  background-image: url('/public/icons/store.png');
  
}
.marker-brewery { 
  background-color: #F4CE14; 
  background-image: url('/public/icons/brewery.png');
}

.marker-sweets { 
  background-color: #EA738D; 
  background-image: url('/public/icons/sweets.png');
}

.marker-all { 
  background-color: #544169; 
  background-image: url('/public/icons/all.png');
}

.pop-up h3 {
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.key-box {
  color: #82caba;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #31666a;
  padding: 10px;
  /* border: 1px solid #424848; */
  box-shadow: inset -1px -1.5px #424848;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 300px;
}

.key-box.minimized .key-box-content {
  display: none;
}

.key-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.key-box-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.key-item {
  display: flex;
  align-items: center;
  font-size: 16px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px; 
  /* background-color: #82caba; */
}

.key-item .marker {
  margin-right: 10px; /* Add space between marker and label */
}